<div class="row" ng-controller="AdminController as Admin">
  <div class="padded">
    <form action="" role="form">
      <div class="row" ng-show="Admin.newCase">
        <div class="widget-controls pull-right">
          <a href="#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
        </div>
        <br/>
        <div class="col-md-1">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Вид"
                   ng-model="Admin.newcase.info.type">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="№"
                   ng-model="Admin.newcase.info.number">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Съд"
                   ng-model="Admin.newcase.info.court">
          </div>
        </div>
        <div class="col-md-1">
          <select class="form-control">
            <option>Инстанция</option>
            <option>Първа</option>
            <option>Възивна</option>
            <option>Касационна</option>
          </select>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Клиент"
                   ng-model="Admin.newcase.info.client">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Бележка"
                   ng-model="Admin.newcase.info.note">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="datetime-local" class="form-control"
                   ng-model="Admin.newcase.info.datetime">
          </div>
        </div>
      </div>
      <button class="btn btn-success"
              ng-show="Admin.newCase"
              ng-click="Admin.addCase(Admin.newcase)">
        Добави</button>
      <button type="button" class="btn btn-default"
              ng-click="Admin.newCase = !Admin.newCase">
        Ново дело</button>
    </form>
    <hr/>
    <table class="table table-striped table-bordered table-hover datatable"
           ng-hide="Admin.click">
      <thead>
      <tr>
        <th>Вид</th>
        <th>№</th>
        <th>Съд</th>
        <th>Инстанция</th>
        <th>Клиент</th>
        <th>Бележка</th>
        <th>Насрочено</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="case in Admin.cases"
          ng-click="Admin.getCase(case._id)">
        <td>{{case.info.type}}</td>
        <td>{{case.info.number}}</td>
        <td>{{case.info.court}}</td>
        <td>{{case.info.instance}}</td>
        <td>{{case.info.client}}</td>
        <td>{{case.info.note}}</td>
        <td>{{case.info.datetime | date: "dd.MM.yyyy - HH:mm"}}</td>
        <!--<td><span class="label label-success">Active</span></td>-->
        <!--<td class="text-right">-->
          <!--<a class="btn btn-default btn-xs" ng-click="Admin.getCase(case._id)"><i class="icon-pencil"></i> edit</a>-->
          <!--<a class="btn btn-danger btn-xs" ng-click="Admin.removeCase(case._id)"><i class="icon-remove"></i></a>-->
        <!--</td>-->
      </tr>

      </tbody>
    </table>
    <div ng-include="'states/admin/admin-case.html'" ng-show="Admin.click"></div>
  </div>
</div>