<div class="box-body">
  <div class="input-group">
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Вид"
               ng-model="Archive.currentCase.info.type">
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="№"
               ng-model="Archive.currentCase.info.number">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Съд"
               ng-model="Archive.currentCase.info.court">
      </div>
    </div>
    <div class="col-md-1">
      <select class="form-control"
              ng-model="Archive.currentCase.info.instance">
        <option value="" disabled selected>Инстанция</option>
        <option value="Първа"
                ng-selected="'Първа'==Archive.currentCase.info.instance">
          Първа
        </option>
        <option value="Възивна"
                ng-selected="'Възивна'==Archive.currentCase.info.instance">
          Възивна
        </option>
        <option value="Касационна"
                ng-selected="'Касационна'==Archive.currentCase.info.instance">
          Касационна
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Клиент"
               ng-model="Archive.currentCase.info.client">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Бележка"
               ng-model="Archive.currentCase.info.note">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!--<input type="text" class="form-control" placeholder="{{Archive.currentCase.info.datetime | date:'dd.MM.yyyy - HH:mm'}}"-->
        <!--onfocus="this.type='datetime-local'" onblur="this.type='text'" onchange="this.type='text'"-->
        <!--ng-model="Archive.newCase.info.datetime">-->
        <input type="datetime-local" class="form-control"
               ng-model="Archive.newDatetime">
      </div>
    </div>
  </div>

  <!-- ADD scanned documents-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <div>
          <input type="file" file-model="Archive.newFile"/>
          <button ng-click="Archive.uploadFile(Archive.newFile)">Добави сканиран документ</button>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="fileId in Archive.currentCase.files | orderBy: 'name'">
      <td id="{{fileId}}"><a href="/file/{{fileId}}">{{fileId}}</a></td>
      <td>
        <button class="btn btn-danger pull-right" ng-click="Archive.removeFile(fileId)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="widget pull-right">
    <button type="button" class="btn btn-success" ng-click="Archive.editCase()">Запази</button>
    <button type="button" class="btn btn-default" ng-click="Archive.cancelCase()">Отмени</button>
    <button type="button" class="btn btn-danger" ng-click="Archive.removeCase()">Изтрий</button>
    <button type="button" class="btn btn-info" ng-click="Archive.archiveCase()">Архивирай</button>

    <!--<button type="button" class="btn btn-primary">Primary</button>-->
    <!--<button type="button" class="btn btn-warning">Warning</button>-->
  </div>

</div>