<div ng-controller="AdminController as Admin">
  <div class="box box-default col-lg-10" ng-hide="Admin.click">
    <div class="box-header with-border">
      <h3 class="box-title">Дело</h3>
    </div>
    <div class="box-body">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-book"></i></span>
        <input type="text" class="form-control col-md-1" placeholder="№"
               ng-model="Admin.newcase.number">
        <span class="input-group-addon"><i class="fa fa-university"></i></span>
        <input type="text" class="form-control" placeholder="Съд"
               ng-model="Admin.newcase.court">
        <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
        <input type="text" class="form-control" placeholder="Инстанция"
               ng-model="Admin.newcase.instance">
        <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
        <input type="text" class="form-control" placeholder="Вид"
               ng-model="Admin.newcase.type">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Клиент"
               ng-model="Admin.newcase.client.name">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <input type="text" class="form-control" placeholder="GSM номер"
               ng-model="Admin.newcase.client.phone">
      </div>
      <div class="form-group col-lg-2 pull-right">
        <button class="btn btn-block btn-success" ng-click="Admin.addCase(Admin.newcase)">Добави</button>
      </div>
    </div>
    <!-- /.box-body -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Дела</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="case in Admin.cases">
        <td>{{case.number}}</td><td>{{case.court}}</td><td>{{case.client.name}}</td><td>{{case.client.number}}</td>
        <td class="pull-right">
          <button class="btn btn-warning" ng-click="Admin.getCase(case._id); click=true">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-danger" ng-click="Admin.removeCase(case._id)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-include="'states/admin/admin-case.html'" ng-show="Admin.click"></div>
</div>