<div class="box box-primary" ng-hide="Archive.openCase">

  <div class="box-header with-border">
    <h3 class="box-title"><strong>Архивни дела - може да се редактират след като се раз-архивират</strong></h3>
  </div>

  <div class="box-body">
    <table class="table table-striped table-bordered table-hover"
           ng-hide="Archive.openCase">
      <thead>
      <tr>
        <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">Вид <i class="icon-sort"></i></th>
        <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">№ <i class="icon-sort"></i></th>
        <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">Съд <i class="icon-sort"></i></th>
        <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">Инстанция <i class="icon-sort"></i></th>
        <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">Клиент <i class="icon-sort"></i></th>
        <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">Бележка <i class="icon-sort"></i></th>
        <th>Насрочено</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="case in Archive.cases | orderBy:orderByField:reverseSort"
          ng-click="Archive.getCase(case._id)">
        <td>{{case.info.number}}</td>
        <td>{{case.info.type}}</td>
        <td>{{case.info.court}}</td>
        <td>{{case.info.instance}}</td>
        <td>{{case.client.name}}</td>
        <td>{{case.info.note}}</td>
        <td>{{case.info.datetime | date: "dd.MM.yyyy / HH:mm"}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="box box-primary" ng-include="'states/admin/archive/archive-current.html'" ng-show="Archive.openCase"></div>