<form action="" role="form">
  <div class="row" ng-show="Case.openForm">
    <div class="widget-controls pull-right">
      <a href="#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
    </div>
    <br/>
    <div class="col-md-1">
      <div class="form-group">
        <select class="form-control"
                ng-model="Case.newCase.info.type">
          <option value="" disabled selected>*Вид</option>
          <option value="Гражданско">Гражданско</option>
          <option value="Наказателно">Наказателно</option>
          <option value="Административно">Административно</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="№"
               ng-model="Case.newCase.info.number">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" ng-model="Case.newCase.info.court">
          <option value="" selected="selected" disabled>*Съд</option>
          <option ng-repeat="court in Case.courts | orderBy: 'name'">{{court.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <select class="form-control"
              ng-model="Case.newCase.info.instance">
        <option value="" disabled selected>*Инстанция</option>
        <option value="Първа">Първа</option>
        <option value="Възивна">Възивна</option>
        <option value="Касационна">Касационна</option>
      </select>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Клиент"
               ng-model="Case.newCase.info.client">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Бележка"
               ng-model="Case.newCase.info.note">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="datetime-local" class="form-control"
               ng-model="Case.newCase.info.datetime">
      </div>
    </div>
  </div>
  <button class="btn btn-success"
          ng-show="Case.openForm"
          ng-click="Case.addCase()">
    Добави
  </button>
  <button type="button" class="btn btn-default"
          ng-hide="Case.openForm"
          ng-click="Case.toggleForm()">
    Ново дело
  </button>
  <br/>
  <br/>
  <div ng-hide="Case.openForm" ng-include="'states/admin/case/case-search.html'"></div>
  <button type="button" class="btn btn-default"
          ng-show="Case.openForm"
          ng-click="Case.toggleForm()">
    Отмени
  </button>
</form>