<!-- /.box-header -->
<div class="box-body">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th ng-click="orderByField='info.type'; reverseSort = !reverseSort">Вид <i class="icon-sort"></i></th>
      <th ng-click="orderByField='info.number'; reverseSort = !reverseSort">№ <i class="icon-sort"></i></th>
      <th ng-click="orderByField='info.court'; reverseSort = !reverseSort">Съд <i class="icon-sort"></i></th>
      <th ng-click="orderByField='info.instance'; reverseSort = !reverseSort">Инстанция <i class="icon-sort"></i></th>
      <th ng-click="orderByField='info.client'; reverseSort = !reverseSort">Клиент <i class="icon-sort"></i></th>
      <th ng-click="orderByField='info.note'; reverseSort = !reverseSort">Бележка <i class="icon-sort"></i></th>
      <th>Насрочено</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="case in Case.cases |
                  filter: Case.search.text |
                  filter: Case.search.type |
                  filter: Case.search.court |
                  filter: Case.search.instance |
                  orderBy:orderByField:reverseSort"
        ng-click="Case.getCase(case._id)">
      <td>{{case.info.type}}</td>
      <td>{{case.info.number}}</td>
      <td>{{case.info.court}}</td>
      <td>{{case.info.instance}}</td>
      <td>{{case.info.client}}</td>
      <td>{{case.info.note}}</td>
      <td>{{case.info.datetime | date: "dd.MM.yyyy - HH:mm"}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!--<div class="box-footer">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-5">-->
      <!--<div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57-->
        <!--entries-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-7">-->
      <!--<div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">-->
        <!--<ul class="pagination">-->
          <!--<li class="paginate_button previous disabled" id="example2_previous"><a href="#"-->
                                                                                  <!--aria-controls="example2"-->
                                                                                  <!--data-dt-idx="0"-->
                                                                                  <!--tabindex="0">Previous</a>-->
          <!--</li>-->
          <!--<li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1"-->
                                                <!--tabindex="0">1</a></li>-->
          <!--<li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2"-->
                                          <!--tabindex="0">2</a></li>-->
          <!--<li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3"-->
                                          <!--tabindex="0">3</a></li>-->
          <!--<li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4"-->
                                          <!--tabindex="0">4</a></li>-->
          <!--<li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5"-->
                                          <!--tabindex="0">5</a></li>-->
          <!--<li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6"-->
                                          <!--tabindex="0">6</a></li>-->
          <!--<li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2"-->
                                                                 <!--data-dt-idx="7" tabindex="0">Next</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
