<div class="row" ng-controller="FileTypeController as File">
  <div class="col-md-8">
    <div class="col-md-9">
      <input type="text" class="form-control" placeholder="Искова молба" ng-model="File.type.name">
    </div>
    <button type="button" class="btn btn-success col-md-3" ng-click="File.addType()">Добави файлов тип</button>
    <br/>
    <br/>
    <br/>
    <div class="col-md-12">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr ng-repeat="type in File.types | orderBy: 'name'">
          <td id="{{type._id}}">{{type.name}}</td>
          <td>
            <button class="btn btn-danger pull-right" ng-click="File.removeType(type._id)">
              <span class="icon-remove"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>