<div class="box-body">
  <div class="input-group">
    <small class="pull-right">{{Cases.currentCase.info.datetime | date: "dd.MM.yyyy - HH:mm"}}</small>
    <br/>
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Вид"
               ng-model="Cases.currentCase.info.type">
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="№"
               ng-model="Cases.currentCase.info.number">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Съд"
               ng-model="Cases.currentCase.info.court">
      </div>
    </div>
    <div class="col-md-1">
      <select class="form-control"
              ng-model="Cases.currentCase.info.instance">
        <option value="" disabled selected>Инстанция</option>
        <option value="Първа"
                ng-selected="'Първа'==Cases.currentCase.info.instance">
          Първа
        </option>
        <option value="Възивна"
                ng-selected="'Възивна'==Cases.currentCase.info.instance">
          Възивна
        </option>
        <option value="Касационна"
                ng-selected="'Касационна'==Cases.currentCase.info.instance">
          Касационна
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Клиент"
               ng-model="Cases.currentCase.info.client">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Бележка"
               ng-model="Cases.currentCase.info.note">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="datetime-local" class="form-control" ng-model="Cases.newDatetime">
      </div>
    </div>
  </div>

  <!-- ADD scanned documents-->
  <table class="table table-striped">
    <thead>
    <tr class="widget pull-left">
      <th><input type="file" file-model="Cases.newFile"/></th>
      <th>
        <select ng-model="Cases.fileType">
          <option value="" selected="selected" disabled>*Тип файл</option>
          <option ng-repeat="type in Cases.fileTypes | orderBy: 'name'">{{type.name}}</option>
        </select>
      </th>
      <th>
        <button class="btn btn-success" ng-click="Cases.uploadFile()">Добави сканиран документ</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in Cases.currentCase.files">
      <td><a href="/file/{{file.id}}">{{file.name}}</a></td>
      <td>{{file.type}}</td>
      <td>
        <button class="btn btn-danger" ng-click="Cases.removeFile(file.id)">
          <span class="icon-remove"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="widget pull-right">
    <button type="button" class="btn btn-success" ng-click="Cases.editCase()">Запази</button>
    <button type="button" class="btn btn-default" ng-click="Cases.cancelCase()">Отмени</button>
    <button type="button" class="btn btn-danger" ng-click="Cases.removeCase()">Изтрий</button>
    <button type="button" class="btn btn-info" ng-click="Cases.archiveCase()">Архивирай</button>
  </div>
</div>