<div class="row" ng-controller="CasesController as Cases">
  <div class="padded">
    <form action="" role="form">
      <div class="row" ng-show="Cases.openForm">
        <div class="widget-controls pull-right">
          <a href="#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
        </div>
        <br/>
        <div class="col-md-1">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Вид"
                   ng-model="Cases.newCase.info.type">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="№"
                   ng-model="Cases.newCase.info.number">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Съд"
                   ng-model="Cases.newCase.info.court">
          </div>
        </div>
        <div class="col-md-1">
          <select class="form-control"
                  ng-model="Cases.newCase.info.instance">
            <option value="" disabled selected>Инстанция</option>
            <option value="Първа">Първа</option>
            <option value="Възивна">Възивна</option>
            <option value="Касационна">Касационна</option>
          </select>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Клиент"
                   ng-model="Cases.newCase.info.client">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Бележка"
                   ng-model="Cases.newCase.info.note">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="datetime-local" class="form-control"
                   ng-model="Cases.newCase.info.datetime">
          </div>
        </div>
      </div>
      <button class="btn btn-success"
              ng-show="Cases.openForm"
              ng-click="Cases.addCase()">
        Добави</button>
      <button type="button" class="btn btn-default"
              ng-hide="Cases.openForm"
              ng-click="Cases.toggleForm()">
        Ново дело</button>
      <button type="button" class="btn btn-default"
              ng-show="Cases.openForm"
              ng-click="Cases.toggleForm()">
        Отмени</button>
    </form>
    <hr/>
    <table class="table table-striped table-bordered table-hover datatable"
           ng-hide="Cases.openCase">
      <thead>
      <tr>
        <th>Вид</th>
        <th>№</th>
        <th>Съд</th>
        <th>Инстанция</th>
        <th>Клиент</th>
        <th>Бележка</th>
        <th>Насрочено</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="case in Cases.cases" ng-click="Cases.getCase(case._id)">
        <td>{{case.info.type}}</td>
        <td>{{case.info.number}}</td>
        <td>{{case.info.court}}</td>
        <td>{{case.info.instance}}</td>
        <td>{{case.info.client}}</td>
        <td>{{case.info.note}}</td>
        <td>{{case.info.datetime | date: "dd.MM.yyyy - HH:mm"}}</td>
        <!--<td><span class="label label-success">Active</span></td>-->
        <!--<td class="text-right">-->
          <!--<a class="btn btn-default btn-xs" ng-click="Cases.getCase(case._id)"><i class="icon-pencil"></i> edit</a>-->
          <!--<a class="btn btn-danger btn-xs" ng-click="Cases.removeCase(case._id)"><i class="icon-remove"></i></a>-->
        <!--</td>-->
      </tr>

      </tbody>
    </table>
    <div ng-include="'states/admin/cases/cases-current.html'" ng-show="Cases.openCase"></div>
  </div>
</div>